.header {
  position: sticky;
  top: 0;
  width: 100%;
}

.wrapper {
  padding: var(--s-gutter) 0;
}

.nav_item {
  transition: color 0.4s;

  @media (hover: hover) {
    &:hover {
      color: var(--cr-primary);
    }
  }
}

.nav_item_active {
  color: var(--cr-primary);
  pointer-events: none;
}
